{% extends 'layout/email.html.twig' %}

{% block title %}Nouvelle série{% endblock %}
{% block body %}
<h1>Nouvelle série {{ program.title }} créée</h1>
<p>Hello, la nouvelle série {{ program.title }} vient d'être ajoutée sur Wild Series, let's go !</p>
<p>Synopsis : {{program.summary }}
{% endblock %}
