{% extends 'base.html.twig' %}
{% block body %}
    <h1>Tous les Acteurs</h1>
    <ul>
        {% for actor in actors %}
            <a href="{{ path('actor_show', {slug: actor.slug}) }}"><li>{{ actor.name }} </li></a>
        {% endfor %}
    </ul>
{% endblock %}
